body {
    color: black;
    text-align: center;
    font-weight: bold;
}

select, input {
    color: black;
    border: gray 1px solid;
}

fieldset {
    border: gray 2px solid;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#panel {
    width: 400px;
}

div#tuner {
    font-weight: bold;
    margin: 5px;
}

div#player {
    margin: 5px;
}
